.todo {
  display: flex;
  border-radius: 12px;
  margin: 10px 0;
  align-items: center;
  justify-content: space-between;
}

.todo-list {
  min-height: 70vh;
}
.todo-details {
  color: rgb(19, 29, 47);
}

.footer {
  width: 100%;
}
